---
import Logo from "../icons/Logo.astro";

const links = [
  { name: "Servicios", href: "#services" },
  { name: "Precios", href: "#prices" },
  { name: "Calculadora", href: "#calculator" },
];
---

<header class="fixed top-0 left-0 w-full z-60 p-3">
  <nav
    class={`nav-container py-5 px-4 md:px-8 max-w-screen-xl text-white mx-auto flex justify-between items-center rounded-xl transition duration-500`}
  >
    <div class="w-full max-w-screen-xl mx-auto flex justify-between items-center ">
      <div class="flex items-center gap-6">
        <div class="flex items-center gap-2">
          <Logo size={30} color="#46d9e3" />
          <h1 class="text-3xl font-bold  nav-logo">Intelliship</h1>
        </div>
        <ul class="hidden md:flex items-center gap-5">
          {
            links.map((link) => (
              <li class="link ">
                <a href={link.href} class="  transition duration-300">
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <ul class="hidden md:flex items-center gap-5">
          <li class="hidden md:flex items-center gap-5">
            <a
              href="#contact"
            >
              Iniciar sesión
            </a>
          </li>
          <li class="hidden md:flex items-center gap-5">
            <a
              href="#contact"
              class="bg-[#3cb4bd] text-white px-4 py-2 rounded-lg transition duration-300 hover:bg-[#46d9e3]/80"
            >
              Regístrate
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="link flex md:hidden">
      <button class="text-2xl transition duration-300">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
</header>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const navContainer = document.querySelector(".nav-container");
  const links = document.querySelectorAll(".link a");

  gsap.to(
    navContainer,
    {
      backgroundColor: "white",
      duration: 0.5,
      color: "#444444",
      boxShadow: "0 4px 10px rgba(0, 0, 0, 0.1)",
      scrollTrigger: {
        trigger: navContainer,
        start: "top top",
        end: "bottom top",
        scrub: true,
      },
    }
  );
  gsap.to(
    links,
    {
      color: "#444444",
      duration: 0.5,
      scrollTrigger: {
        trigger: navContainer,
        start: "top top",
        end: "bottom top",
        scrub: true,
      },
    }
  );

</script>