---
import Click from "../icons/Click.astro";
import FastTruck from "../icons/FastTruck.astro";
import Logo from "../icons/Logo.astro";
import Safe from "../icons/Safe.astro";
import SaveMoney from "../icons/SaveMoney.astro";
import Badge from "./ui/Badge.astro";

const cardsInfo = [
  {
    title: "F치cil",
    description:
      "Compra en tus tiendas favoritas y nosotros nos encargamos del resto.",
    icon: Click,
  },
  {
    title: "R치pido",
    description: "Te entregamos tus productos en el menor tiempo posible.",
    icon: FastTruck,
  },
  {
    title: "Seguro",
    description:
      "Tus paquetes siempre estar치n asegurados, te guiamos en el proceso.",
    icon: Safe,
  },
  {
    title: "Econ칩mico",
    description: "Al mejor precio del mercado, sin sorpresas.",
    icon: SaveMoney,
  },
];
---

<section class="why-us">
  <div
    class="flex flex-col items-start justify-start md:justify-center max-w-screen-xl mx-auto gap-10 py-5"
  >
    <div>
      <ul>
        <div
          class="grid grid-cols-1 md:grid-cols-2 gap-8  w-full items-start services-media-container"
        >
          {
            cardsInfo.map((card, index) => (
              <li class="flex flex-col items-start justify-center fade-up">
                <div class="relative" />
                <div class="flex items-center justify-center gap-2 mt-2">
                  <card.icon class="text-3xl  text-[#05c2c9] " />
                  <span class="text-lg font-bold text-neutral-700  t">
                    {card.title}
                  </span>
                </div>
                <p class="mt-2  text-neutral-500 ">{card.description}</p>
              </li>
            ))
          }
        </div>
      </ul>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  const fadeUpElements = gsap.utils.toArray<HTMLElement>(".fade-up");
  const tl = gsap.timeline({});

  fadeUpElements.forEach((element, index) => {
    tl.fromTo(
      element,
      {
        opacity: 0,
        y: 100,
      },
      {
        opacity: 1,
        y: 0,
        duration: 0.5,
        stagger: 0.2,
        ease: "power2.out",
      }
    );
  });

  ScrollTrigger.refresh();
</script>
